{% if documentation(key=ref_dist()) %}
  <section id="documentation">
    <h2>Documentation</h2>
    <ul>
      {% for document in documentation(key=ref_dist()) %}
        <li>
          {% if github_link(document) %}
            <a href="{{ github_link(document) }}">{{ document }}</a>
          {% else %}
            {{ document }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}

{% if related('in-distributions', key=ref_dist()) %}
  <section id="contained_implementations">
    <h2>Contains Implementations</h2>
    <ul>
      {% for impl in related('in-distributions', key=ref_dist()) %}
        <li>
          {{ link(impl) }},
          {% if 'implementation-type' in data[impl] %}
            {{ indefart(data[impl].implementation_type) }}
          {% else %}
          {% endif %}
          in {{ link(data[impl].host_language) }}
          {% if data[impl].host_language == key %}
            (Yo dawg, I herd you like {{ key }})
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}

{% if data[ref_dist()].github or data[ref_dist()].bitbucket %}
  <section id="development">
    <h2>Development</h2>
    {% if data[ref_dist()].github %}
      <p>Github: <a href="https://github.com/{{ data[ref_dist()].github }}">{{ data[ref_dist()].github }}</a></p>
    {% endif %}
    {% if data[ref_dist()].bitbucket %}
      <p>Bitbucket: <a href="https://bitbucket.org/{{ data[ref_dist()].bitbucket }}">{{ data[ref_dist()].bitbucket }}</a></p>
    {% endif %}
    {% if data[ref_dist()].issue_tracker %}
      {% if data[ref_dist()].issue_tracker == 'github' %}
        <p>Issue tracker: <a href="https://github.com/{{ data[ref_dist()].github }}/issues">on github</a></p>
      {% else %}
        <p>Issue tracker: <a href="{{ data[ref_dist()].issue_tracker }}">{{ data[ref_dist()].issue_tracker }}</a></p>
      {% endif %}
    {% endif %}
  </section>
{% endif %}

{% if data[ref_dist()].releases %}
  <section id="releases">
    <h2>Releases</h2>
    <ul>
      {% for release in data[ref_dist()].releases %}
      <li>
        <a href="{{ release.url }}">version {{ release.version }} revision {{ release.revision }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
