{#
  Expects impl_key to be set to the key of the implementation.
#}

{% if data[data[impl_key].implementation_of[0]].type == 'Musical Composition' %}
  {% set implnoun = 'rendition' %}
  {% set experienceverb = 'listen to' %}
  {% set writtenverb = 'encoded' %}
{% else %}
  {% set implnoun = 'implementation' %}
  {% set experienceverb = 'run' %}
  {% set writtenverb = 'written' %}
{% endif %}

{% if data[impl_key].prebuilt_for_platforms and data[impl_key].prebuilt_for_platforms[0] == 'native code' %}
  <p>
    To {{ experienceverb }} this {{ implnoun }}, you need only download and
    install the appropriate version for your computer and operating system.
  </p>
{% else %}
  <p>To {{ experienceverb }} this {{ implnoun }}, you need:</p>
  <ul>
    {% if data[impl_key].prebuilt_for_platforms|length > 1 %}
      <li>One of the following:
        <ul>
          {% for platform in data[impl_key].prebuilt_for_platforms %}
            <li>
              {% set req_key=platform %}{% set req_plat_key='' %}
              {% include "include/recommended_implementation.html" %}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% elif data[impl_key].prebuilt_for_platforms %}
      <li>
        {% set req_key=data[impl_key].prebuilt_for_platforms[0] %}{% set req_plat_key='' %}
        {% include "include/recommended_implementation.html" %}
      </li>
    {% else %}
      {% if data[data[impl_key].host_language].generally_compiled or data[impl_key].build_requirements %}
        <li>
          to build it first, for which you will need:
          <ul>
            {% if data[data[impl_key].host_language].generally_compiled %}
              <li>
                {% set req_key=data[impl_key].host_language %}{% set req_plat_key=data[impl_key].host_platform %}
                {% include "include/recommended_implementation.html" %}
              </li>
            {% endif %}
            {% if data[impl_key].build_requirements %}
              {% for requirement in data[impl_key].build_requirements %}
                <li>
                  {% set req_key=requirement %}{% set req_plat_key='' %}
                  {% include "include/recommended_implementation.html" %}
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </li>
      {% endif %}
      {% if not data[data[impl_key].host_language].generally_compiled %}
        <li>
          {% set req_key=data[impl_key].host_language %}{% set req_plat_key=data[impl_key].host_platform %}
          {% include "include/recommended_implementation.html" %}
        </li>
      {% endif %}
    {% endif %}
    {% if data[impl_key].run_requirements %}
      {% for requirement in data[impl_key].run_requirements %}
        <li>
          {{ link(requirement) }}
        </li>
      {% endfor %}
    {% endif %}
  </ul>
{% endif %}
