{#
  Expects impl_key to be set to the key of the implementation.
#}

{% if data[data[impl_key].implementation_of[0]].type == 'Musical Composition' %}
  {% set implnoun = 'rendition' %}
  {% set experienceverb = 'listen to' %}
  {% set writtenverb = 'encoded' %}
{% else %}
  {% set implnoun = 'implementation' %}
  {% set experienceverb = 'run' %}
  {% set writtenverb = 'written' %}
{% endif %}

{% if data[impl_key].prebuilt_for_platforms and data[impl_key].prebuilt_for_platforms[0] == 'native code' %}
  <p>
    To {{ experienceverb }} this {{ implnoun }}, you need only download and
    install the appropriate version for your computer and operating system.
  </p>
{% else %}
  <p>To {{ experienceverb }} this {{ implnoun }}, you need:</p>
  <ul>
    {% if data[impl_key].prebuilt_for_platforms|length > 1 %}
      <li>One of the following:
        <ul>
          {% for platform in data[impl_key].prebuilt_for_platforms %}
            <li>
              an implementation of <a href="{{ filekey(platform) }}">{{ platform }}</a>
              {% if recommended_implementation(platform) %}
                (we suggest {{ link(recommended_implementation(platform)) }})
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% elif data[impl_key].prebuilt_for_platforms %}
      <li>
        an implementation of <a href="{{ filekey(data[impl_key].prebuilt_for_platforms[0]) }}">{{ data[impl_key].prebuilt_for_platforms[0] }}</a>
        {% if recommended_implementation(data[impl_key].prebuilt_for_platforms[0]) %}
          (we suggest {{ link(recommended_implementation(data[impl_key].prebuilt_for_platforms[0])) }})
        {% endif %}
      </li>
    {% else %}
      {% if data[data[impl_key].host_language].generally_compiled or data[impl_key].build_requirements %}
        <li>
          to build it first, for which you will need:
          <ul>
            {% if data[data[impl_key].host_language].generally_compiled %}
              <li>
                an implementation of <a href="{{ filekey(data[impl_key].host_language) }}">{{ data[impl_key].host_language }}</a>
                {% if recommended_implementation(data[impl_key].host_language) %}
                  (we suggest {{ link(recommended_implementation(data[impl_key].host_language)) }})
                {% endif %}
                {% if data[impl_key].host_platform %}
                  {# NOTE use of 'and' instead of 'for' here to make yoob deps sound ok #}
                  and the <a href="{{ filekey(data[impl_key].host_platform) }}">{{ data[impl_key].host_platform }}</a> platform
                {% endif %}
              </li>
            {% endif %}
            {% if data[impl_key].build_requirements %}
              {% for requirement in data[impl_key].build_requirements %}
                <li>
                  {{ link(requirement) }}
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </li>
      {% endif %}
      {% if not data[data[impl_key].host_language].generally_compiled %}
        <li>
          {# special case to make this not suck #}
          {% if data[impl_key].host_language=='mp3' %}
            an {{ link('mp3') }} player (you're on your own here)
          {% else %}
            an implementation of <a href="{{ filekey(data[impl_key].host_language) }}">{{ data[impl_key].host_language }}</a>
            {% if recommended_implementation(data[impl_key].host_language) %}
              (we suggest {{ link(recommended_implementation(data[impl_key].host_language)) }})
            {% endif %}
            {% if data[impl_key].host_platform %}
              for the <a href="{{ filekey(data[impl_key].host_platform) }}">{{ data[impl_key].host_platform }}</a> platform
            {% endif %}
          {% endif %}
        </li>
      {% endif %}
    {% endif %}
    {% if data[impl_key].run_requirements %}
      {% for requirement in data[impl_key].run_requirements %}
        <li>
          {{ link(requirement) }}
        </li>
      {% endfor %}
    {% endif %}
  </ul>
{% endif %}
