{#
  This might be better off as a macro but...
  Expects req_key to be set to the key of the thing required.
  req_plat_key can also be set.
#}

{# special case to make this not suck #}
{% if req_key=='mp3' %}
  an {{ link('mp3') }} player
{% else %}
  an implementation of {{ link(req_key) }}
  {% if recommended_implementation(req_key) %}
    (we suggest {{ link(recommended_implementation(req_key)) }})
  {% endif %}
  {% if req_plat_key %}
    {# NOTE use of 'and' instead of 'for' here to make yoob deps sound ok #}
    and the {{ link(req_plat_key) }} platform
  {% endif %}
{% endif %}
