<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<!-- encoding: UTF-8 -->
<html lang="en">
<head>
<title>yoob: A Framework for Esolang Implementations</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body style="background-color: #001020; margin: 0; padding: 0;">

<applet id="applet" code="tc.catseye.yoob.Applet" 
        archive="../gallery/esolangs/yoob/yoob.jar"
        width="100%" height="100%">
<param name="languageClasses" value="tc.catseye.yoob.ale.AleState/Ale
          tc.catseye.yoob.backflip.BackFlipState/BackFlip
          tc.catseye.yoob.befunge93.Befunge93State/Befunge-93
          tc.catseye.yoob.black.BlackState/Black
          tc.catseye.yoob.bf.BrainfuckState/brainfuck
          tc.catseye.yoob.circute.CircuteState/Circute
          tc.catseye.yoob.etcha.EtchaState/Etcha
          tc.catseye.yoob.gemooy.GemooyState/Gemooy
          tc.catseye.yoob.lnusp.LNUSPState/LNUSP
          tc.catseye.yoob.onela.OneLaState/1L_a
          tc.catseye.yoob.onelaoi.OneLAOIState/1L_AOI
          tc.catseye.yoob.path.PATHState/PATH
          tc.catseye.yoob.qdeql.QdeqlState/Qdeql
          tc.catseye.yoob.sceql.SceqlState/Sceql
          tc.catseye.yoob.smetana.SMETANAState/SMETANA
          tc.catseye.yoob.snusp.SNUSPState/SNUSP
          tc.catseye.yoob.twoill.TwoIllState/2-ill
          tc.catseye.yoob.twol.TwoLState/2L
          tc.catseye.worb.WorbState/noit-o-mnain-worb
          tc.catseye.yoob.wunnel.WunnelState/Wunnel
          tc.catseye.ypsilax.YpsilaxState/Ypsilax">
Your browser is ignoring the &lt;applet&gt; tag.
Please consult your browser documentation for how to enable Java applets.
</applet>

</body>
</html>
