{#- ----------------------------- base template ------------------------- -#}

<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>{%- block title -%}{{ key }} | Cat's Eye Technologies{%- endblock title -%}</title>
  <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico" />
  <meta name="viewport" content="initial-scale=1">
  {#- This should go before the CSS so that older versions of IE will be tricked
      into styling these HTML5 elements. -#}
  <script>
    document.createElement('header');
    document.createElement('nav');
    document.createElement('article');
    document.createElement('footer');
    document.createElement('aside');
  </script>
  <link href="../contrib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="../contrib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../stylesheet/chrysoberyl.css" />
  {%- block extra_head -%}{%- endblock extra_head -%}
</head>
<body>
 <div id="page_boundary">
   {%- block page_contents -%}{%- endblock page_contents -%}
 </div>
 <script src="../scripts/chrysoberyl.js"></script>
 {%- block extra_tail -%}{%- endblock extra_tail -%}
</body>
