{% extends "_base.html" %}

{#- -------------------------------- macros ---------------------------- -#}

{%- macro list_item(thing, auspices) -%}
  {% set node = get_node(thing) %}
  {%- if not get_node(node.type).suppress_page_generation -%}
    <p>
      <b>{{- link(thing) -}}</b>
      {% if auspices == None and node.authors %}by {{ linked_list(node.authors) }}{% endif %}
      {% if count(related('implementation_of', key=thing)) %}
        (in
        {% for implementation in related('implementation_of', key=thing) -%}
          {{ link(get_node(implementation).host_language) -}}
          {%- if not loop.last %} and {% endif -%}
        {%- endfor -%}
        )
      {% endif %}
      {%- if node.inception_date %}
        ({{ node.inception_date }})
      {% endif %}
    </p>
  {%- else -%}
    {{- thing -}}
  {%- endif -%}

  {% if node.type not in [
              'Computational Class', 'Concept', 'Development Stage',
              'Discipline', 'Genre', 'Language Construct', 'License',
              'Mathematical Object', 'Organization', 'Programming Paradigm',
              'Website',
          ] %}
    {% if node.images %}
      <div class="row-fluid">
        <div class="span8">
          {% if online_buttons(thing) %}
          <p>
            {{ online_buttons(thing) }}
          </p>
          {% endif %}
          {% if node.description %}
            {{ md2html(node.description) }}
          {% endif %}
        </div>
        <div class="span4 accompanying_images">
          {% for image in node.images %}
            <img alt="{{ image.description or '(Illustration)' }}" src="{{ image.url }}">
          {% endfor %}
        </div>
      </div>
    {% elif node.description or online_buttons(thing) %}
      {% if online_buttons(thing) %}
      <p>
        {{ online_buttons(thing) }}
      </p>
      {% endif %}
      {% if node.description %}
        {{ md2html(node.description) }}
      {% endif %}
      {% if node.commentary and
            node.type in ['Musical Composition', 'Picture', 'Text'] %}
        {{ md2html(node.commentary) }}
      {% endif %}
    {% endif %}
  {% endif %}
{%- endmacro -%}

{%- macro recommended_impl(req_key, req_plat_key='') -%}
  {# special case, to not sound awkward #}
  {% if req_key=='mp3' %}
    an {{ link('mp3') }} player
  {% else %}
    an implementation of {{ link(req_key) }}
    {% if recommended_implementation(req_key) %}
      (we suggest {{ link(recommended_implementation(req_key)) }})
    {% endif %}
    {% if req_plat_key %}
      {#- NOTE use of 'and' instead of 'for' here to make yoob deps sound ok -#}
      and the {{ link(req_plat_key) }} platform
    {% endif %}
  {% endif %}
{%- endmacro -%}

{%- macro distribution_access(dist_key) -%}
  <section id="distribution_access">

    {% if get_node(dist_key).releases %}
      {% set latest_release = get_node(dist_key).releases|last %}
      <section id="download">
        <h2>Download</h2>
        <p><a class="download" href="{{ latest_release.url }}">
          Download latest release
          ({{ latest_release.version }}{% if latest_release.revision != '0.0' %}-{{ latest_release.revision }}{% endif %})
        </a></p>
      </section>
    {% endif %}

    {% if get_node(dist_key).github or get_node(dist_key).bitbucket %}
      <section id="development">
        <h2>Development</h2>
        {% if get_node(dist_key).github %}
          <p>Github: <a href="https://github.com/{{ get_node(dist_key).github }}">{{ get_node(dist_key).github }}</a></p>
        {% endif %}
        {% if get_node(dist_key).bitbucket %}
          <p>Bitbucket: <a href="https://bitbucket.org/{{ get_node(dist_key).bitbucket }}">{{ get_node(dist_key).bitbucket }}</a></p>
        {% endif %}
        {% if get_node(dist_key).issue_tracker %}
          {% if get_node(dist_key).issue_tracker == 'github' %}
            <p>Issue tracker: <a href="https://github.com/{{ get_node(dist_key).github }}/issues">on github</a></p>
          {% else %}
            <p>Issue tracker: <a href="{{ get_node(dist_key).issue_tracker }}">{{ get_node(dist_key).issue_tracker }}</a></p>
          {% endif %}
        {% endif %}
      </section>
    {% endif %}

    {% if get_node(dist_key).releases|length>1 %}
      <section id="previous_releases">
        <h2>Previous Releases</h2>
        <ul>
          {% for release in get_node(dist_key).releases[:-1] %}
          <li>
            <a href="{{ release.url }}">version {{ release.version }} {% if release.revision != '0.0' %} revision {{ release.revision }}{% endif %}</a>
          </li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}

  </section>
{%- endmacro -%}

{#- ----------------------------- page contents ------------------------- -#}

{%- block page_contents -%}

  <header>
    <nav id="breadcrumbs">
      <p>{{ breadcrumbs()|join(' » ') }} »</p>
    </nav>
    {%- block header_gadgets -%}
    {%- endblock header_gadgets -%}

    {%- block heading -%}
      <hgroup id="heading">
        <h1>{{ key }}</h1>
        {%- if subtitle -%}
          <h2 id="subtitle">{{ subtitle }}</h2>
        {%- endif -%}
        {%- if acronym_for -%}
          <h2 id="acronym_for">({{ acronym_for }})</h2>
        {%- endif -%}
      </hgroup>
    {%- endblock -%}

    {%- block byline -%}
    {%- endblock byline -%}

    {#- TODO: make these less obtrusive.  float to right or something. -#}
    {%- if esowiki -%}
      <p id="esowiki">Esowiki: <a href="http://esolangs.org/wiki/{{ esowiki }}">{{ esowiki }}</a></p>
    {%- endif -%}
    {%- if wikipedia -%}
      <p id="wikipedia">Wikipedia: <a href="http://wikipedia.org/wiki/{{ wikipedia }}">{{ wikipedia }}</a></p>
    {%- endif -%}
  </header>

  <article>
    {%- block mainstage -%}{%- endblock -%}
    {%- block description -%}
      <div class="row-fluid">
        <div class="{% if images %}span8{% else %}span12{% endif %}">
          <section id="description">
            {%- block description_verbiage -%}
              {%- if description -%}
                {{ md2html(description) }}
              {%- endif -%}
            {%- endblock description_verbiage -%}
          </section>
          
          {%- block awards -%}
            {%- if submitted_to -%}
              <h2>Submitted to Competitions</h2>
              <ul>
                {%- for sub in submitted_to -%}
                  <li>
                    {{- link(sub.competition) -}}
                    {%- if sub.prize %}
                      — {{ sub.prize -}}
                    {%- else %}
                      (no prize)
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          {%- endblock awards -%}

          {%- block properties -%}
          {%- endblock properties -%}

          {%- block index -%}
          {%- endblock index -%}
        </div>
        {%- if images -%}
          <div id="images" class="span4">
            {%- for image in images -%}
              <img alt="{{ image.description or '(Illustration)' }}" src="{{ image.url }}">
              {% if image.caption %}
                {{ md2html(image.caption) }}
              {% endif %}
            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>
    {%- endblock description -%}

    {%- block content -%}
    {%- endblock content -%}

    {% block see_also %}
      {%- if see_also -%}
        <section id="see_also">
          <h2>See Also</h2>
          <ul>
            {%- for thing in see_also -%}
            <li>
              {{- link(thing) -}}
            </li>
            {%- endfor -%}
          </ul>
        </section>
      {%- endif -%}
    {% endblock %}

    {%- block links -%}
      {%- if links or references -%}
        <section id="links">
          <h2>Links</h2>
          <ul>
            {%- for reference in references -%}
            <li>
              <a href="{{ reference.url }}">{{ reference.title }}</a>
              {% if reference.description %}— {{ reference.description -}}{% endif -%}
            </li>
            {%- endfor -%}
            {%- for link in links -%}
            <li>
              <a href="{{ link }}">{{ link }}</a>
            </li>
            {%- endfor -%}
          </ul>
        </section>
      {%- endif -%}
    {%- endblock links -%}

    {%- block commentary -%}
      {%- if commentary -%}
        <section id="commentary">
          <h2>Commentary</h2>
          {{ md2html(commentary) }}
        </section>
      {%- endif -%}
    {%- endblock commentary -%}
  </article>

  {%- block footer -%}<footer>
    {%- block generation_notice -%}<p>
      <small>
        This page was automatically generated from <a href="https://github.com/catseye/Chrysoberyl/">Chrysoberyl</a>.
        Spot an error on this page?
        {# TODO: urlencode instead #}
        <a href="https://github.com/catseye/Chrysoberyl/issues/new?title=problem+with+node+{{ sleek_key(key) }}">Report it here!</a>
      </small>
    </p>{%- endblock generation_notice -%}
    {%- block copyright_notice -%}<p>
      <small>Copyright ©2014, Chris Pressey, Cat's Eye Technologies.</small>
    </p>{%- endblock copyright_notice -%}
  </footer>{%- endblock footer -%}

{%- endblock page_contents -%}
