{% extends "base.html" %}

{% block extra_head %}
  {% if article_type != "announcement" %}
    <style>
#summary {
    padding-left: 1em;
}
#description {
    padding-left: 1em;
}
    </style>
  {% endif %}
{% endblock extra_head %}

{# so we're using this more like a dateline than a byline #}
{% block byline %}
  <p id="byline">
    {% if authors %}
      by {{ linked_list(authors) }},
      {%- if auspices -%}
      {{ linked_list(auspices) }},
      {%- endif -%}
    {% endif %}
    {% if article_date %}
      {{ article_date }}
    {% else %}
        {{ strftime(publication_date, "%A, %B %d, %Y") }}
    {% endif %}
  </p>
  {# TODO: maybe some article nav somewhere too.  footer? #}
{% endblock byline %}

{# not ideal, but summary is used in slightly different ways on
   different nodes, so this will do for now #}
{% block summary %}
  {%- if summary -%}
    <section id="summary">
      {{- md2html(summary) -}}
    </section>
  {%- endif -%}
{% endblock summary %}

{% block content %}
  {% if news_link %}
    <p>Check it out at <a href="{{ news_link }}">{{ news_link }}</a></p>
  {% endif %}
{% endblock content %}
