{% extends "Programming Language.html" %}

{% block properties %}

{% if sample_html %}
  <h2>Sample Configuration</h2>
  <div class="sample">{{ sample_html }}</div>
  {% if sample_input_html %}
    <p>Input:</p>
    <div class="sample">{{ sample_input_html }}</div>
  {% endif %}
  {% if sample_output_html %}
    <p>Output:</p>
    <div class="sample">{{ sample_output_html }}</div>
  {% endif %}
  {% if sample_credit %}
    <p>This sample was written by {{ link(sample_credit) }}</p>
  {% endif %}
{% endif %}

{% if computational_class %}
  <h2>Computational Class</h2>
  <p>{{ link(computational_class) }}</p>
{% endif %}

{% if member_of %}
  <h2>Member of Automaton Family</h2>
  <p>{{ link(member_of) }}</p>
{% endif %}

{% if variant_of %}
  <h2>Variant of</h2>
  <p>{{ link(variant_of) }}</p>
{% endif %}

{% if paradigms %}
  <h2>Paradigms</h2>
  <ul>
    {% for paradigm in paradigms %}
      <li>
          {{ link(paradigm) }}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock properties %}
