<!DOCTYPE html>
<head>
  <meta charset=utf-8>
  <title>{{ key }}</title>
</head>
<body>
  <h1>{{ key }}</h1>
  <p id="type"><a href="{{ filekey(type) }}">{{ type }}</a></p>
  {% if genre %}
    <p id="genre">Genre: <a href="{{ filekey(genre) }}">{{ genre }}</a></p>
  {% endif %}
  {% if description %}
    <p id="description">{{ description }}</p>
  {% endif %}
  {% if commentary %}
    <p id="commentary">Commentary:<br>{{ commentary }}</p>
  {% endif %}
  {% block content %}
  {% endblock content %}
</body>
