{#- -------------------------------- macros ---------------------------- -#}

{%- macro list_item(thing) -%}
  {% set node = get_node(thing) %}
  {%- if not get_node(node.type).suppress_page_generation -%}
    <p>
      <b>{{- link(thing) -}}</b>
      {% if count(related('implementation_of', key=thing)) %}
        (in
        {% for implementation in related('implementation_of', key=thing) -%}
          {{ link(get_node(implementation).host_language) -}}
          {%- if not loop.last %} and {% endif -%}
        {%- endfor -%}
        )
      {% endif %}
      {%- if node.inception_date %}
        ({{ node.inception_date }})
      {% endif %}
    </p>
  {%- else -%}
    {{- thing -}}
  {%- endif -%}

  {% if online_buttons(thing) %}
  <p>
    {{ online_buttons(thing) }}
  </p>
  {% endif %}

  {% if node.images %}
    <div class="row-fluid">
      <div class="span8">
        {% if node.description %}
          {{ md2html(node.description) }}
        {% endif %}
      </div>
      <div class="span4">
        {% for image in node.images %}
          <img src="{{ image.url }}">
        {% endfor %}
      </div>
    </div>
  {% elif node.description %}
    {{ md2html(node.description) }}
  {% endif %}
{%- endmacro -%}

{%- macro recommended_impl(req_key, req_plat_key='') -%}
    {# special case, to not sound awkward #}
    {% if req_key=='mp3' %}
      an {{ link('mp3') }} player
    {% else %}
      an implementation of {{ link(req_key) }}
      {% if recommended_implementation(req_key) %}
        (we suggest {{ link(recommended_implementation(req_key)) }})
      {% endif %}
      {% if req_plat_key %}
        {#- NOTE use of 'and' instead of 'for' here to make yoob deps sound ok -#}
        and the {{ link(req_plat_key) }} platform
      {% endif %}
    {% endif %}
{%- endmacro -%}

{#- ----------------------------- base template ------------------------- -#}

<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>{%- block title -%}{{ key }} | Cat's Eye Technologies{%- endblock title -%}</title>
  <link rel="shortcut icon" type="image/x-icon" href="../../favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {#- This should go before the CSS so that older versions of IE will be tricked
      into styling these HTML5 elements. -#}
  <script>
    document.createElement('header');
    document.createElement('nav');
    document.createElement('article');
    document.createElement('footer');
    document.createElement('aside');
  </script>
  <link href="../contrib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="../contrib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../stylesheet/chrysoberyl.css" />
  {%- block extra_head -%}{%- endblock extra_head -%}
</head>
<body>
 <div id="page_boundary">
  <header>
    <nav id="breadcrumbs">
      <p>{{ breadcrumbs()|join(' » ') }} »</p>
    </nav>
    {%- block header_gadgets -%}
    {%- endblock header_gadgets -%}

    {%- block heading -%}
      <hgroup id="heading">
        <h1>{{ key }}</h1>
        {%- if subtitle -%}
          <h2 id="subtitle">{{ subtitle }}</h2>
        {%- endif -%}
        {%- if acronym_for -%}
          <h2 id="acronym_for">({{ acronym_for }})</h2>
        {%- endif -%}
      </hgroup>
    {%- endblock -%}

    {%- block byline -%}
    {%- endblock byline -%}

    {#- TODO: make these less obtrusive.  float to right or something. -#}
    {%- if esowiki -%}
      <p id="esowiki">Esowiki: <a href="http://esolangs.org/wiki/{{ esowiki }}">{{ esowiki }}</a></p>
    {%- endif -%}
    {%- if wikipedia -%}
      <p id="wikipedia">Wikipedia: <a href="http://wikipedia.org/wiki/{{ wikipedia }}">{{ wikipedia }}</a></p>
    {%- endif -%}
  </header>

  <article>
    {%- block mainstage -%}{%- endblock -%}
    {%- block description -%}
      <div class="row-fluid">
        <div class="{% if images %}span8{% else %}span12{% endif %}">
          <section id="description">
            {%- block description_verbiage -%}
              {%- if description -%}
                {{ md2html(description) }}
              {%- endif -%}
            {%- endblock description_verbiage -%}
          </section>
          
          {%- block awards -%}
            {%- if submitted_to -%}
              <h2>Submitted to Competitions</h2>
              <ul>
                {%- for sub in submitted_to -%}
                  <li>
                    {{- link(sub.competition) -}}
                    {%- if sub.prize %}
                      — {{ sub.prize -}}
                    {%- else %}
                      (no prize)
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
          {%- endblock awards -%}

          {%- block properties -%}
          {%- endblock properties -%}

          {%- block index -%}
          {%- endblock index -%}
        </div>
        {%- if images -%}
          <div class="span4">
            <section id="images">
              {%- for image in images -%}
                <img src="{{ image.url }}">
                {% if image.caption %}
                  {{ md2html(image.caption) }}
                {% endif %}
              {%- endfor -%}
            </section>
          </div>
        {%- endif -%}
      </div>
    {%- endblock description -%}

    {%- block content -%}
    {%- endblock content -%}

    {%- if see_also -%}
      <section id="see_also">
        <h2>See Also</h2>
        <ul>
          {%- for thing in see_also -%}
          <li>
            {{- link(thing) -}}
          </li>
          {%- endfor -%}
        </ul>
      </section>
    {%- endif -%}

    {%- block links -%}
      {%- if links or references -%}
        <section id="links">
          <h2>Links</h2>
          <ul>
            {%- for reference in references -%}
            <li>
              <a href="{{ reference.url }}">{{ reference.title }}</a>
              {% if reference.description %}— {{ reference.description -}}{% endif -%}
            </li>
            {%- endfor -%}
            {%- for link in links -%}
            <li>
              <a href="{{ link }}">{{ link }}</a>
            </li>
            {%- endfor -%}
          </ul>
        </section>
      {%- endif -%}
    {%- endblock links -%}

    {%- block commentary -%}
      {%- if commentary -%}
        <section id="commentary">
          <h2>Commentary</h2>
          {{ md2html(commentary) }}
        </section>
      {%- endif -%}
    {%- endblock commentary -%}
  </article>

  {%- block footer -%}<footer>
    {%- block generation_notice -%}<p>
      <small>
        This page was automatically generated from <a href="https://github.com/catseye/Chrysoberyl/">Chrysoberyl</a>.
        Spot an error on this page?
        {# TODO: urlencode instead #}
        <a href="https://github.com/catseye/Chrysoberyl/issues/new?title=problem+with+node+{{ sleek_key(key) }}">Report it here!</a>
      </small>
    </p>{%- endblock generation_notice -%}
    {%- block copyright_notice -%}<p>
      <small>Copyright ©2014, Chris Pressey, Cat's Eye Technologies.</small>
    </p>{%- endblock copyright_notice -%}
  </footer>{%- endblock footer -%}
 </div>
 <script src="../scripts/chrysoberyl.js"></script>
 {%- block extra_tail -%}{%- endblock extra_tail -%}
</body>
