{% extends "base.html" %}

{% block description %}{% endblock %}
{% block content %}

<div style="float: left; width: 10%; padding: 0.5em; margin-right: auto; text-align: left">
<p>About {{ link('Bubble Escape 2K') }}</p>
</div>

<div style="float: right; width: 10%; padding: 0.5em; margin-left: auto; text-align: right">
<p>About the {{ link('JaC64') }} applet</p>
</div>

<div style="text-align: center; width: 80%; margin-left: auto; margin-right: auto">

<img style="visibility: hidden; width: 0px; height: 0px" src="../../../projects/bescape2k/bubble escape 2k.png">

<object
   classid="clsid:8AD9C840-044E-11D1-B3E9-00805F499D93"
   codebase="http://java.sun.com/products/plugin/autodl/jinstall-1_4_1-windows-i586.cab#Version=1,4,1,0"
   width="768" height="568" id="c64">
  <param name="code" value="C64Applet">
  <param name="archive" value="c64small.jar">
  <param name="codebase" value="..">
  <param name="doubleScreen" value="1">
  <param name="autostartPGM" value="bubble_escape_2k.prg">
  <param name="type" value="application/x-java-applet;version=1.4.1">
  <param name="scriptable" value="true">

 <comment>
    <embed
       type="application/x-java-applet;version=1.4.1"
       name="c64"
       code="C64Applet"
       codebase="../gallery/c64/"
       archive="c64small.jar"
       width="768"
       height="568"
       doubleScreen="1"
       autostartPGM="bubble_escape_2k.prg"
       scriptable="true"
       pluginspage="http://java.sun.com/products/plugin/index.html#download"
       alt="Your browser understands the <EMBED> tag but is not running the Java Applet, for some reason.">
       <noembed>
      Your browser is completely ignoring the Java Applet!
       </noembed>
    </embed>
  </comment>
</object>

{% endblock %}
