{% extends "base.html" %}

{#
   Base template for all pages with a byline.
   For books and implementations, this is just author, auspices, date, isbn.
   For implementables and others, it includes the type and genre too.
#}

{% block byline %}
  {% if authors %}
    <p id="byline">
      {% if type in ['Book', 'Implementation', 'Article'] %}
        by {{ linked_list(authors) }}
        {%- if auspices -%}
          , {{ linked_list(auspices) }}
        {%- endif -%}
        {%- if inception_date -%}
          , {{ inception_date }}
        {%- endif -%}
        {%- if isbn -%}
        , ISBN: {{ isbn }}
        {% endif %}
      {% else %}
        {% if development_stage == 'idea' %}
          An idea for a
        {% elif development_stage == 'work in progress' %}
          A work-in-progress
        {% else %}
          A
        {% endif %}
        {% if genre and type not in ['Programming Language', 'Programming Language Family', 'Conlang'] %}
          {{ link(genre, lower=true) }}
        {% endif %}
        {{ link(type, lower=true) }}
        {% if genre and type in ['Programming Language', 'Programming Language Family', 'Conlang'] %}
          in the genre of {{ link(genre, lower=true) }}
        {% endif %}
        by {{ linked_list(authors) }}
        {%- if auspices -%}
          , {{ linked_list(auspices) }}
        {%- endif -%}
        {%- if inception_date -%}
          , {{ inception_date }}
        {% endif %}
      {% endif %}
    </p>
  {% endif %}
{% endblock byline %}
