{# bespoke template for Chris Pressey's Lingography #}
{% extends "base.html" %}

{% block content %}

<h3>Languages I've Designed ({{ lingography()|length }})</h3>

{% for thing in lingography() %}
  <h4 class="list_entry">
    {{ link(thing) }}
    <small>{{ get_node(thing).inception_date }}</small>
    {%- if get_node(thing).authors|length > 1 %}
      with
      {% for author in get_node(thing).authors %}
        {% if author != 'Chris Pressey' %}
          {{ link(author) }}{% if not loop.last %}, {% endif %}
        {% endif %}
      {% endfor %}
    {% endif -%}
  </h4>

  <div class="row-fluid">
    <div class="span8">
      {% if get_node(thing).description %}
        {{ md2html(get_node(thing).description) }}
      {% endif %}

      {% if get_node(thing).commentary %}
        {{ md2html(get_node(thing).commentary) }}
      {% endif %}

      {% if not empty(related('implementation_of', key=thing)) %}
        <p>Implementations:</p>
        <ul>
          {% for implementation in related('implementation_of', key=thing) %}
            <li>
              <p>
                {{- link(implementation) }}
                {% if get_node(implementation).reference -%}
                  (the reference implementation)
                {%- endif %}
              </p>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if not empty(related('member_of', key=thing)) %}
        <p>Members of {{thing}}:</p>
        <ul>
          {% for member in related('member_of', key=thing)|sort %}
            <li>
              <p>{{ link(member) }}</p>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if not empty(related('variant_of', key=thing)) %}
        <p>Variants of {{thing}}:</p>
        <ul>
          {% for variant in related('variant_of', key=thing)|sort %}
            <li>
              <p>{{ link(variant) }}</p>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="span4">
      {% if get_node(thing).sample %}
        <div class="sample">{{ md2html(get_node(thing).sample, fixed=true) }}</div>
      {% endif %}
      {% if get_node(thing).sample_input %}
        <p>Input:</p>
        <div class="sample">{{ md2html(get_node(thing).sample_input, fixed=true) }}</div>
      {% endif %}
      {% if get_node(thing).sample_output %}
        <p>Output:</p>
        <div class="sample">{{ md2html(get_node(thing).sample_output, fixed=true) }}</div>
      {% endif %}
      {% if get_node(thing).sample_credit %}
        <p>This sample was written by {{ link(get_node(thing).sample_credit) }}</p>
      {% endif %}
      {{ online_buttons(thing) }}
    </div>
  </div>

{% endfor %}

<h3>Languages I've Implemented</h3>

<ul>
{%- for thing in get_space().keys()|sort -%}
  {%- if get_node(thing).type == 'Implementation' and
        'Chris Pressey' in get_node(thing).authors and
        get_node(get_node(thing).implementation_of[0]).type == 'Programming Language' and
        'Chris Pressey' not in get_node(get_node(thing).implementation_of[0]).authors and
        is_current(get_node(thing)) -%}
    <li>
      <p>
        {{ link(thing) }},
        {{ indefart(get_node(thing).implementation_type) }}
        for
        {{ link(get_node(thing).implementation_of[0]) }}
        in
        {{ link(get_node(thing).host_language) }}
        {% if get_node(thing).host_platform %}
          for {{ link(get_node(thing).host_platform) }}
        {% endif %}
        {% if get_node(thing).inception_date %}
          ({{ get_node(thing).inception_date }})
        {% endif %}

        {{ online_buttons(thing) }}
      </p>
      {% if get_node(thing).description %}
        {{ md2html(get_node(thing).description) }}
      {% endif %}
      {% if get_node(thing).commentary %}
        {{ md2html(get_node(thing).commentary) }}
      {% endif %}
    </li>
  {%- endif -%}
{%- endfor -%}
</ul>

{% endblock content %}
