{# bespoke template for Chris Pressey's Lingography #}
{% extends "base.html" %}

{% block content %}

<h3>Languages I've Designed ({{ lingography()|length }})</h3>

<ul>
{% for thing in lingography() %}
  <li>
    <p><a href="{{ filekey(thing) }}">{{ thing }}</a> ({{ data[thing].inception_date }})</p>
    
    {% if data[thing].description_html %}
      <p>{{ data[thing].description_html }}</p>
    {% endif %}
    
    {% if data[thing].commentary_html %}
      <p>{{ data[thing].commentary_html }}</p>
    {% endif %}
    
    {% if data[thing].sample_html %}
      <div class="sample">{{ data[thing].sample_html }}</div>
    {% endif %}

    {% if data[thing].online_implementations %}
      <p>Try it online:
        <ul>
          {% for olimpl in data[thing].online_implementations|sort %}
            <li><a href="{{ olimpl }}">{{ olimpl }}</a></li>
          {% endfor %}
        </ul>
      </p>
    {% endif %}

    {% if related('implementation_of', key=thing) %}
      <p>Implementations:</p>
      <ul>
        {% for implementation in related('implementation_of', key=thing) %}
          <li>
            <p>{{ link(implementation) }}</p>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if related('member_of', key=thing) %}
      <p>Members of {{thing}}:</p>
      <ul>
        {% for member in related('member_of', key=thing)|sort %}
          <li>
            <p>{{ link(member) }}</p>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if related('variant_of', key=thing) %}
      <p>Variants of {{thing}}:</p>
      <ul>
        {% for variant in related('variant_of', key=thing)|sort %}
          <li>
            <p>{{ link(variant) }}</p>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endfor %}
</ul>

<h3>Languages I've Implemented</h3>

<ul>
{%- for thing in data|sort -%}
  {%- if data[thing].type == 'Implementation' and
        'Chris Pressey' in data[thing].authors and
        data[data[thing].implementation_of[0]].type == 'Programming Language' and
        'Chris Pressey' not in data[data[thing].implementation_of[0]].authors and
        data[thing].development_stage not in ['idea', 'work in progress', 'abandoned', 'lost'] -%}
    <li>
      <p>
        <a href="{{ filekey(thing) }}">{{ thing }}</a>,
        {{ indefart(data[thing].implementation_type) }}
        for
        <a href="{{ filekey(data[thing].implementation_of[0]) }}">{{ data[thing].implementation_of[0] }}</a>
        in
        <a href="{{ filekey(data[thing].host_language) }}">{{ data[thing].host_language }}</a>
        {% if data[thing].host_platform %}
          for <a href="{{ filekey(data[thing].host_platform) }}">{{ data[thing].host_platform }}</a>
        {% endif %}
        {% if data[thing].inception_date %}
          ({{ data[thing].inception_date }})
        {% endif %}
      </p>
      {% if data[thing].description_html %}
        <p>{{ data[thing].description_html }}</p>
      {% endif %}
      {% if data[thing].commentary_html %}
        <p>{{ data[thing].commentary_html }}</p>
      {% endif %}
    </li>
  {%- endif -%}
{%- endfor -%}
</ul>

{% endblock content %}
