{% extends "base.html" %}

{% block content %}

<div class="row-fluid">
  <div class="span8">
    <h2>Index of Categories</h2>
    <ul>
    {%- for thing in data.keys()|sort -%}
      {%- if data[thing].type == 'type' and
             thing not in ['type', 'Metanode'] and
             not data[thing].suppress_page_generation -%}
        <li>
          {{ link(thing) }}
        </li>
      {%- endif -%}
    {%- endfor -%}
    </ul>
  </div>
  <div class="span4">
    <h2>Metanodes</h2>
    <ul>
    {%- for thing in data.keys()|sort -%}
      {%- if data[thing].type == 'Metanode' and not data[thing].hidden -%}
        <li>
          {{ link(thing) }}
        </li>
      {%- endif -%}
    {%- endfor -%}
    </ul>
  </div>
</div>

{% endblock content %}
