{% extends "base.html" %}

{% block extra_head %}
<script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
<script src="../contrib/awesomechart.js"></script>
<script src="../scripts/chrysoberyl-query.js"></script>
<style>
#results {
  background: white;
  color: black;
  padding: 1em;
  border: 2px solid blue;
  margin-right: auto;
}
#results p {
  margin: 0;
}
#chart {
  float: right;
}
</style>
{% endblock %}

{% block content %}
<p id="status">Please wait...</p>
<div id="buttons">
  <select name="type_selector" id="type_selector">
    {%- for key, node in data|dictsort -%}
      {%- if node.type == 'type' -%}
        <option value="{{ key }}">{{ key }}</option>
      {%- endif -%}
    {%- endfor -%}
  </select>
  <select name="author_selector" id="author_selector">
    <option value="(any)">(any)</option>
    {%- for key, node in data|dictsort -%}
      {%- if node.type == 'Individual' -%}
        <option value="{{ key }}">{{ key }}</option>
      {%- endif -%}
    {%- endfor -%}
  </select>
</div>

<p>Results:</p>

<canvas id="chart" width="500" height="500">
    Your web-browser does not support the HTML 5 canvas element.
</canvas>

<div id="results"></div>

{% endblock content %}
