{% extends "base.html" %}

{% block extra_head %}
<script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
<script src="chrysoberyl-query.js"></script>
<style>
#results {
  background: white;
  color: black;
  padding: 1em;
  border: 2px solid blue;
}
#results p {
  margin: 0;
}
</style>
{% endblock %}

{% block content %}
<div id="buttons">
  <button id="load_button">Load data</button>
  <button id="query_button">Run query</button>
  <select name="type_selector" id="type_selector">
    <option value="Programming Language">Programming Language</option>
    <option value="Musical Composition">Musical Composition</option>
    <option value="License">License</option>
  </select>
</div>

<p>Results:</p>

<div id="results"></div>

{% endblock content %}
