{% extends "base.html" %}

{#
  The query functionality presented here is fairly crude,
  and so most Collection nodes should provide bespoke
  templates for themselves which implement their query
  logic in Jinja2.
  
  If the collection node has an 'entries' key, it is taken
  to be an ordered list of explicit entries.
#}

{% block content %}

{% if entries %}
  <ol>
  {% for thing in entries %}
    <li>
      <p><b>{{ link(thing) }}</b>
      (
        {{- link(data[thing].genre) }}
        {%- if data[thing].platform -%}, {{ link(data[thing].platform) }}{% endif -%}
        {%- if data[thing].controls -%}, {{ data[thing].controls }}{% endif -%}
      )
      </p>
      {% if data[thing].description %}
        {{ md2html(data[thing].description) }}
      {% endif %}
      {% if data[thing].commentary %}
        {{ md2html(data[thing].commentary) }}
      {% endif %}
    </li>
  {% endfor %}
  </ol>
{% else %}
  <ul>
  {% for thing in data %}
    {% if data[thing].type in include_types and
          include_author in data[thing].authors %}
      <li>
        <p>{{ link(thing) }}</p>
        {% if data[thing].description %}
          {{ md2html(data[thing].description) }}
        {% endif %}
        {% if data[thing].commentary %}
          {{ md2html(data[thing].commentary) }}
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endif %}

{% endblock content %}
