{% extends "base.html" %}

{% block content %}

<ul>
{% for thing in data %}
  {# XXX FIX THIS #}
  {% if data[thing].type in include_types and
        include_authors[0] in data[thing].authors %}
    <li>
      <p><a href="{{ filekey(thing) }}">{{ thing }}</a></p>
      {% if data[thing].description_html %}
        <p>{{ data[thing].description_html }}</p>
      {% endif %}
      {% if data[thing].commentary_html %}
        <p>{{ data[thing].commentary_html }}</p>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
</ul>

{% endblock content %}
