{% extends "base.html" %}

{% block description %}
  <section id="description">
    <h2>Description</h2>
    <p>
      This is
      {% if reference %}
        the reference
      {% else %}
        a
      {% endif %}
      distribution of the
      {{ data[distribution_of].type|lower }}
      <a href="{{ filekey(distribution_of) }}">{{ distribution_of }}</a>.
    </p>
    {% if description_html %}
      <p>{{ description_html }}</p>
    {% endif %}
  </section>
{% endblock description %}

{% block content %}
{% include "include/distribution.html" %}
{% endblock content %}
