{% extends "base.html" %}

{% block description %}
  <section id="description">
    <h2>Description</h2>
    <p>
      This is
      {% if reference %}
        the reference
      {% else %}
        a
      {% endif %}
      distribution of the
      {{ data[distribution_of[0]].type|lower }}
      <a href="{{ filekey(distribution_of[0]) }}">{{ distribution_of[0] }}</a>.
      {% if distribution_of|length > 1 %}
        (and more: {{ linked_list(distribution_of) }}.)
      {% endif %}
    </p>
    {% if description_html %}
      <p>{{ description_html }}</p>
    {% endif %}
  </section>
{% endblock description %}

{% block content %}
{% include "include/distribution.html" %}
{% endblock content %}
