{# bespoke template #}
{% extends "base.html" %}

{% block content %}

<h3>Games I've Designed</h3>

<ul>
{%- for (key, node) in get_space().iteritems()|sort -%}
  {%- if node.type == 'Game' and
        'Chris Pressey' in node.authors and
        is_current(node) -%}
    <li>
      <p>
        {{ link(key) }} ({{ node.inception_date }})
        {{ online_buttons(key) }}
      </p>

      {% if node.images %}
        <div class="row-fluid">
          <div class="span8">
            {{ md2html(node.description) }}
          </div>
          <div class="span4">
            {% for image in node.images %}
              <img src="{{ image.url }}">
            {% endfor %}
          </div>
        </div>
      {% elif node.description %}
        {{ md2html(node.description) }}
      {% endif %}

      {% if node.commentary %}
        {{ md2html(node.commentary) }}
      {% endif %}

      {# screenshot #}
    </li>
  {%- endif -%}
{%- endfor -%}
</ul>

<h3>Games I've Implemented</h3>

<ul>
{%- for (key, node) in get_space().iteritems()|sort -%}
  {%- if node.type == 'Implementation' and
        'Chris Pressey' in node.authors and
        get_node(node.implementation_of[0]).type == 'Game' and
        'Chris Pressey' not in get_node(node.implementation_of[0]).authors and
        node.development_stage not in ['idea', 'work in progress'] -%}
    {% set gamekey = node.implementation_of[0] %}
    <li>
      <p>
        {{ link(gamekey) }}
        — as {{ link(key) }} in
        {{ link(node.host_language) }}
        {% if node.host_platform %}
          for {{ link(node.host_platform) }}
        {% endif %}
        ({{ node.inception_date }})
      </p>
      {% if get_node(gamekey).description %}
        {{ md2html(get_node(gamekey).description) }}
      {% endif %}
      {% if node.description %}
        {{ md2html(node.description) }}
      {% endif %}
      {% if node.commentary %}
        {{ md2html(node.commentary) }}
      {% endif %}
    </li>
  {%- endif -%}
{%- endfor -%}
</ul>

{% endblock content %}
