{% extends "base.html" %}

{% block extra_head %}
  <style>
#canvas { border: 1px solid blue; }
#canvas_viewport {
    width: 420px; height: 420px; overflow: scroll; border: 1px solid black;
    display: inline-block;
}
#info { float: right; }
  </style>
{% endblock extra_head %}

{% block content %}
<!DOCTYPE html>
<p id="info">
Gemooy on:
<a href="http://catseye.tc/node/Gemooy.html">catseye.tc</a> |
<a href="https://github.com/catseye/Gemooy">github</a> |
<a href="http://esolangs.org/wiki/Gemooy">esolangs wiki</a>
</p>

<h1>Gemooy
<button id="load">Load</button>
<button id="start">Start</button>
<button id="stop">Stop</button>
</h1>

<div id="canvas_viewport">
  <canvas id="canvas" width="400" height="400">
    Your browser doesn't support displaying an HTML5 canvas.
  </canvas>
</div>

<textarea id="program" rows="25" cols="40">
%   @@   @@
#  @  $    @
       @
#      #
#
       @
#     # #
#    #
    @     @
    @     @@
#  @ @    @
@   @   @
</textarea>

{% endblock %}

{% block extra_tail %}
  <script src="../gallery/esolangs/gemooy/playfield.js"></script>
  <script src="../gallery/esolangs/gemooy/gemooy.js"></script>
  <script>
$(document).ready(function() {
    var eso = new GemooyController($('#canvas')[0]);
    $('#load').click(function() {
        eso.load($('#program'));
    });
    $('#start').click(function() {
        eso.start();
    });
    $('#stop').click(function() {
        eso.stop();
    });
});
  </script>
{% endblock %}
