{% extends "base.html" %}

{% block extra_head %}
  <style>
#canvas {
  border: 1px solid blue;
  background: white;
}
#canvas_viewport {
  width: 420px; height: 420px; overflow: scroll; border: 1px solid black;
  display: inline-block;
}
#program {
  font-family: "Lucida Console", Console, monospace;
}
  </style>
{% endblock extra_head %}

{% block content %}
<!DOCTYPE html>
<h1>Gemooy</h1>

<div class="row-fluid">
  <div class="span4">
    <textarea id="program" rows="25" cols="40">
%   @@   @@
#  @  $    @
       @
#      #
#
       @
#     # #
#    #
    @     @
    @     @@
#  @ @    @
@   @   @
    </textarea>
  </div>
  <div class="span8">
    <button id="load">Load</button>
    <button id="start">Start</button>
    <button id="stop">Stop</button><br/>
    <div id="canvas_viewport">
      <canvas id="canvas" width="400" height="400">
        Your browser doesn't support displaying an HTML5 canvas.
      </canvas>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_tail %}
  <script src="../gallery/esolangs/gemooy/playfield.js"></script>
  <script src="../gallery/esolangs/gemooy/gemooy.js"></script>
  <script>
$(document).ready(function() {
    var eso = new GemooyController($('#canvas')[0]);
    $('#load').click(function() {
        eso.load($('#program'));
    });
    $('#start').click(function() {
        eso.start();
    });
    $('#stop').click(function() {
        eso.stop();
    });
});
  </script>
{% endblock %}
