{% extends "_node.html" %}

{% set collected_auspices = collect_auspices(related_items('genre')) %}

{% block description %}{% endblock description %}

{% block content %}

  <h2>All nodes of genre "{{ key }}"</h2>

  {###################### copied verbatim out of type.html #######################}
  {% for auspices, things in iteritems_sorted_within(
      collected_auspices, [
          "Cat's Eye Technologies",
          "What is this I don't even",
          "None",
      ]
  ) %}
    {% if collected_auspices.keys() != [None] %}
      <h3>by {% if auspices == None %}Our Valued Partners{% else %}{{ auspices }}{% endif %}</h3>
    {% endif %}
    <ul>
      {%- for thing in keys_sorted_within(things, ordered_within) -%}
        {% if online_buttons(thing) %}
          <li>{{ list_item(thing) }}</li>
        {% endif %}
      {%- endfor -%}
      {%- for thing in keys_sorted_within(things, ordered_within) -%}
        {% if not online_buttons(thing) %}
          <li>{{ list_item(thing) }}</li>
        {% endif %}
      {%- endfor -%}
    </ul>
    {%- set impl_count = count(filter_items(implementations_by_p(key, auspices))) -%}
    {%- if impl_count > 0 -%}
      <h4>implemented by {{ auspices }}</h4>
      <ul>
        {%- for (implkey, node) in filter_items(implementations_by_p(key, auspices))|sort -%}
          {% set ckey = node.implementation_of[0] %}
          <li>
            <p>
              {{ link(ckey) }} — as {{ link(implkey) }}
              {% if node.host_language %}
                in {{ link(node.host_language) }}
              {% endif %}
              {% if node.host_platform %}
                for {{ link(node.host_platform) }}
              {% endif %}
              {% if node.inception_date %}
                ({{ node.inception_date }})
              {% endif %}
            </p>
            {% if get_node(ckey).description %}
              {{ md2html(get_node(ckey).description) }}
            {% endif %}
            {% if node.description %}
              {{ md2html(node.description) }}
            {% endif %}
            {#
            {% if node.commentary %}
              {{ md2html(node.commentary) }}
            {% endif %}
            #}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  {%- endfor -%}
  {###################### copied verbatim out of type.html #######################}

{% endblock content %}
