{% extends "base.html" %}

{% block extra_head %}
  <script src="../gallery/html5/prairie/canvas5.js"></script>
  <style>
#canvas { border: 1px solid blue; background: white; }
  </style>
{% endblock %}

{% block content %}
<canvas id="canvas" width="640" height="390">
Your browser doesn't support displaying an HTML5 canvas.
</canvas>
{% endblock %}

{% block extra_tail %}
<script>
  new Canvas5Controller().start(document.getElementById('canvas'), '../gallery/html5/prairie/Elevator_1_(PSF).png');
</script>
{% endblock %}
