{% extends "bylined.html" %}

{% block content %}

{% if online_implementations %}
  <section id="online_implementations">
    <h2>Try it Online</h2>
    <ul>
      {% for olimpl in online_implementations|sort %}
        <li><a class="online" href="{{ olimpl }}">{{ olimpl }}</a></li>
      {% endfor %}
    </ul>
  </section>
{% endif %}

{% if reference_distribution %}
  <section id="reference_distribution">
    <h2>Reference distribution: {{ reference_distribution }}</h2>
    <div>
      {% set dist_key=ref_dist() %}
      {% include "include/distribution.html" %}
    </div>
  </section>
{% elif standards_body %}
  <h2>Defined by</h2>
  <p><a href="{{ standards_body }}">{{ standards_body }}</a></p>
{% elif specification_link %}
  <h2>Defined by</h2>
  <p>
    {% if specification_link == 'esowiki' %}
      Esowiki article <a href="http://esolangs.org/wiki/{{ esowiki }}">{{ esowiki }}</a>
    {% else %}
      <a href="{{ specification_link }}">{{ specification_link }}</a></p>
    {% endif %}
  </p>
{% endif %}

{% if influences %}
  <h2>Influences</h2>
  <ul>
    {% for influence in influences|sort %}
      <li>
        {{ link(influence) }}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if related('influences') %}
  <h2>Influenced</h2>
  <ul>
    {% for influenced in related('influences')|sort %}
      <li>
        {{ link(influenced) }}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if non_ref_dist_implementations() %}
  {% if online_implementations or reference_distribution %}
    <h2>Other Implementations</h2>
  {% else %}
    <h2>Implementations</h2>
  {% endif %}
  <ul>
    {% for impl in non_ref_dist_implementations()|sort %}
      <li>
        {{ link(impl) }},
        {% if 'implementation-type' in data[impl] %}
          {{ indefart(data[impl].implementation_type) }}
        {% else %}
        {% endif %}
        in {{ link(data[impl].host_language) }}
        {% if data[impl].host_language == key %}
          (Yo dawg, I herd you like {{ key }})
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% block implementable_content %}
{% endblock %}

{% endblock content %}
