{% extends "base.html" %}

{% block showtype %}
  <p id="type"><a href="{{ filekey(type) }}">{{ type }}</a>
    of a
    <a href="{{ filekey(data[implementation_of].type) }}">{{ data[implementation_of].type }}</a>
  </p>
{% endblock showtype %}

{% block description %}
  <p>This is
    {% if reference %}
      the reference
    {% else %}
      an
    {% endif %}
    implementation of the
    {{ data[implementation_of].type }}
    <a href="{{ filekey(implementation_of) }}">{{ implementation_of }}</a>.
    
    It is
    {% if implementation_type %}
      <a href="{{ filekey(implementation_type) }}">{{ indefart(implementation_type) }}</a>,
    {% endif %}
    written in <a href="{{ filekey(host_language) }}">{{ host_language }}</a>
    {%- if host_platform %}
      for the <a href="{{ filekey(host_platform) }}">{{ host_platform }}</a> platform
    {%- endif %}
    {%- if implementation_type == 'compiler' %}
      that generates <a href="{{ filekey(target_language) }}">{{ target_language }}</a>
    {%- endif -%}.
    
    {% if in_distributions %}
      {% if in_distributions|length == 1 %}
        It is distributed in the <a href="{{ filekey(in_distributions[0]) }}">{{ in_distributions[0] }}</a>
        and it
      {% else %}
        It is found in these distributions:
        {% for distribution in in_distributions %}
          <a href="{{ filekey(distribution) }}">{{ distribution }}</a>,
        {% endfor %}
        and it
      {% endif %}
    {% else %}
      It
    {% endif %}
    {% if license == 'Public Domain' %}
      is in the <a href="{{ filekey('Public Domain') }}">public domain</a>
    {% elif license == 'Freely Redistributable' %}
      is freely redistributable unmodified for non-commercial purposes
    {% elif license == 'Proprietary' %}
      is proprietary software
    {% elif license == 'Unknown license' %}
      has unknown licensing terms
    {% else %}
      is distributed under the
      <a href="{{ filekey(license) }}">{{ license }}</a>
    {%- endif -%}.
  </p>
  {% if description_html %}
    <p>{{ description_html }}</p>
  {% endif %}
{% endblock description %}

{% block content %}

{# these are lame right now #}

<h2>Dependencies</h2>

<p>To run this implementation, you need:</p>

<ul>
  {% if (data[host_language].generally_compiled or build_requirements) and
        not prebuilt_in_distribution %}
    <li>
      to build it first, for which you will need:
      <ul>
        {% if data[host_language].generally_compiled %}
          <li>
            an implementation of <a href="{{ filekey(host_language) }}">{{ host_language }}</a>
            {% if host_platform %}
              for the <a href="{{ filekey(host_platform) }}">{{ host_platform }}</a> platform
            {% endif %}
          </li>
        {% endif %}
        {% if build_requirements %}
          {% for requirement in build_requirements %}
            <li>
              <a href="{{ filekey(requirement) }}">{{ requirement }}</a>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
    </li>
  {% endif %}
  {% if prebuilt_in_distribution or not data[host_language].generally_compiled %}
    <li>
      an implementation of <a href="{{ filekey(host_language) }}">{{ host_language }}</a>
      {% if host_platform %}
        for the <a href="{{ filekey(host_platform) }}">{{ host_platform }}</a> platform
      {% endif %}
    </li>
  {% endif %}
  {% if run_requirements %}
    {% for requirement in run_requirements %}
      <li>
        <a href="{{ filekey(requirement) }}">{{ requirement }}</a>
      </li>
    {% endfor %}
  {% endif %}
</ul>

{% endblock content %}
