{% extends "bylined.html" %}

{% macro recommended_impl(req_key, req_plat_key='') -%}
    {# special case, to not sound awkward #}
    {% if req_key=='mp3' %}
      an {{ link('mp3') }} player
    {% else %}
      an implementation of {{ link(req_key) }}
      {% if recommended_implementation(req_key) %}
        (we suggest {{ link(recommended_implementation(req_key)) }})
      {% endif %}
      {% if req_plat_key %}
        {# NOTE use of 'and' instead of 'for' here to make yoob deps sound ok #}
        and the {{ link(req_plat_key) }} platform
      {% endif %}
    {% endif %}
{%- endmacro %}

{% if data[implementation_of[0]].type == 'Musical Composition' %}
  {% set implnoun = 'rendition' %}
  {% set experienceverb = 'listen to' %}
  {% set writtenverb = 'encoded' %}
{% else %}
  {% set implnoun = 'implementation' %}
  {% set experienceverb = 'run' %}
  {% set writtenverb = 'written' %}
{% endif %}

{% block description %}
  <section id="description">
    <p>This is
      {% if reference %}
        the reference {{ implnoun }}
      {% else %}
        {{ indefart(implnoun) }}
      {% endif %}
       of the
      {% if implementation_of|length > 1 %}
        {{ data[implementation_of[0]].type|lower }}s
        {{ linked_list(implementation_of) }}.
      {% else %}
        {{ data[implementation_of[0]].type|lower }}
        {% for impl_of in implementation_of %}
          {{ link(impl_of) }}
        {%- endfor -%}.
      {% endif %}
      
      It is
      {% if implementation_type %}
        {{ link(implementation_type, indefart=true) }},
      {% endif %}
      {{ writtenverb }} in {{ link(host_language) }}
      {%- if host_platform %}
        for the {{ link(host_platform) }} platform
      {%- endif %}
      {%- if implementation_type == 'compiler' %}
        that generates {{ link(target_language) }}
        {%- if target_platform %}
          for the {{ link(target_platform) }} platform
        {%- endif %}
      {%- endif -%}.

      {% if in_distributions %}
        {% if in_distributions|length == 1 %}
          It is distributed in the {{ in_distributions[0] }} and it
        {% else %}
          It is found in these distributions: {# TODO: linked_list? #}
          {% for distribution in in_distributions %}
            {{ distribution }},
          {% endfor %}
          and it
        {% endif %}
      {% else %}
        It
      {% endif %}
      {% if license == 'Public Domain' %}
        is in the {{ link('Public Domain') }}
      {%- elif license == 'Freely Redistributable' %}
        is freely redistributable unmodified for non-commercial purposes
      {%- elif license == 'Proprietary' %}
        is proprietary software
      {%- elif license == 'Unknown license' %}
        has unknown licensing terms
      {%- else %}
        is distributed under the {{ link(license) }}
      {%- endif -%}.
      
      {%- if development_stage %}
        {% if development_stage == 'lost' %}
          It has been {{ link('lost') }}.
        {% else %}
          It is in the development stage: {{ link(development_stage) }}.
        {% endif %}
      {% endif -%}
    </p>
    {% if description %}
      {{ md2html(description) }}
    {% endif %}
  </section>
{% endblock description %}

{% block content %}
  {% if download_link %}
    <section id="download">
      <h2>Download</h2>
      <p><a class="download" href="{{ download_link }}">{{ download_link }}</a></p>
    </section>
  {% endif %}

  <h2>Dependencies</h2>

{# USED TO BE AN INCLUDE #}

{% if data[key].prebuilt_for_platforms and data[key].prebuilt_for_platforms[0] == 'native code' %}
  <p>
    To {{ experienceverb }} this {{ implnoun }}, you need only download and
    install the appropriate version for your computer and operating system.
  </p>
{% else %}
  <p>To {{ experienceverb }} this {{ implnoun }}, you need:</p>
  <ul>
    {% if data[key].prebuilt_for_platforms|length > 1 %}
      <li>One of the following:
        <ul>
          {% for platform in data[key].prebuilt_for_platforms %}
            <li>
              {{ recommended_impl(platform) }}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% elif data[key].prebuilt_for_platforms %}
      <li>
        {{ recommended_impl(data[key].prebuilt_for_platforms[0]) }}
      </li>
    {% else %}
      {% if data[data[key].host_language].generally_compiled or data[key].build_requirements %}
        <li>
          to build it first, for which you will need:
          <ul>
            {% if data[data[key].host_language].generally_compiled %}
              <li>
                {{ recommended_impl(data[key].host_language, req_plat_key=data[key].host_platform) }}
              </li>
            {% endif %}
            {% if data[key].build_requirements %}
              {% for requirement in data[key].build_requirements %}
                <li>
                  {{ recommended_impl(requirement) }}
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </li>
      {% endif %}
      {% if not data[data[key].host_language].generally_compiled %}
        <li>
          {{ recommended_impl(data[key].host_language, req_plat_key=data[key].host_platform) }}
        </li>
      {% endif %}
    {% endif %}
    {% if data[key].run_requirements %}
      {% for requirement in data[key].run_requirements %}
        <li>
          {{ link(requirement) }}
        </li>
      {% endfor %}
    {% endif %}
  </ul>
{% endif %}


{% endblock content %}
