{% extends "base.html" %}

{% block byline %}
  {% if authors %}
    <p id="byline">
      A
      {% if genre and type not in ['Programming Language'] %}
        {{ link_lower(genre) }}
      {% endif %}
      {{ link_lower(type) }}
      {% if genre and type in ['Programming Language'] %}
        in the genre of {{ link_lower(genre) }}
      {% endif %}
      by {{ linked_list(authors) }}
      {%- if auspices -%}
        , {{ linked_list(auspices) }}
      {%- endif -%}
    </p>
  {% endif %}
{% endblock byline %}

{% block content %}

{% if reference_distribution %}
  <h2>Reference distribution</h2>
  {# maybe include info about this inline somehow #}
  <p>{{ link(reference_distribution) }}</p>
{% elif standards_body %}
  <h2>Defined by</h2>
  <p>{{ link(standards_body) }}</p>
{% elif specification_link %}
  <h2>Defined by</h2>
  <p>
    {% if specification_link == 'esowiki' %}
      Esowiki article <a href="http://esolangs.org/wiki/{{ esowiki }}">{{ esowiki }}</a>
    {% else %}
      {{ link(specification_link) }}
    {% endif %}
  </p>
{% endif %}

{% if related('implementation-of') %}
  <h2>Implementations</h2>
  <ul>
    {% for implementation in related('implementation-of') %}
      <li>
        {{ link(implementation) }}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% block implementable_content %}
{% endblock %}

{% endblock content %}
