{% extends "base.html" %}

{% block content %}

<p style="float: left; margin-right: 1em;"><applet code="tc.catseye.whothm.Applet" 
        archive="../gallery/esolangs/jwhothm/whothm.jar"
        width="640" height="400">
Your browser is ignoring the &lt;applet&gt; tag.
Please consult your browser documentation for how to enable Java applets.
</applet></p>

<h2>Quick Start Guide</h2>

<p>Whothm is a simple language for describing infinite shapes. It is
described fully in <a href="../../../projects/whothm/doc/whothm.html">The Whothm Drawing Language</a>, in
our <a href="../../../projects/whothm/">Whothm project</a>.</p>

<p>Click "Run" or press Alt+R to run the program.  The result is displayed in
the canvas on the right.  Page Up and Page Down can be used to zoom in and
out of the canvas.</p>

<p>Syntax errors often result in an error message in the status bar,
but might not in all cases.  In these cases, consulting your browser's
Java console, if it has one, might elucidate the cause of the error.
Or it might not.</p>

<p>Obviously, this implementation does not support generating or
displaying the entire infinite drawing.  In fact, it only runs the loop
for a couple of hundred iterations.  The full shape is left up to your imagination.<p>

{% endblock %}
