{# bespoke template for LoUIE #}
{% extends "_node.html" %}

{% block content %}

<ul>
{%- for (key, node) in get_space().iteritems()|sort -%}
  {%- if node.type in ['Programming Language', 'Abstract Artlang'] and
        'Chris Pressey' in node.authors and
        node.development_stage == 'idea' -%}
    <li>
      <p>{{ link(key) }} ({{ node.inception_date }})</p>
      {% if node.description %}
        {{ md2html(node.description) }}
      {% endif %}
      {% if node.commentary %}
        {{ md2html(node.commentary) }}
      {% endif %}
    </li>
  {%- endif -%}
{%- endfor -%}
</ul>

{% endblock content %}
