{# bespoke template for LoUIE #}
{% extends "base.html" %}

{% block showtype %}{% endblock showtype %}

{% block content %}

<ul>
{% for thing in data|sort %}
  {% if data[thing].type in ['Programming Language', 'Abstract Artlang'] and
        'Chris Pressey' in data[thing].authors and
        data[thing].development_stage in ['idea'] %}
    <li>
      <p><a href="{{ filekey(thing) }}">{{ thing }}</a></p>
      {% if data[thing].description_html %}
        <p>{{ data[thing].description_html }}</p>
      {% endif %}
      {% if data[thing].commentary_html %}
        <p>{{ data[thing].commentary_html }}</p>
      {% endif %}
    </li>
  {% endif %}
{% endfor %}
</ul>

{% endblock content %}
