{% extends "implementable.html" %}

{% block implementable_content %}
<h2>Native Language</h2>

<p>{{ link(native_language) }}</p>

{% if other_languages %}
  <h2>Other Languages</h2>
  <ul>
    {% for language in other_languages %}
      <li>{{ link(language) }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% if related('platform') or related('host-platform') %}
  <h2>Known Things for this Platform</h2>
  <ul>
  {% for thing in related('platform')|sort %} {# games, generally ... #}
    <li>
      {{ link(thing) }}
    </li>
  {% endfor %}
  {% for thing in related('host-platform')|sort %} {# implementations, generally ... #}
    <li>
      {{ link(thing) }}
    </li>
  {% endfor %}
  </ul>
{% endif %}

{% endblock implementable_content %}
