{% extends "base.html" %}

{% block extra_head %}
  <style>
td { text-align: left; padding: 0.5em; }
  </style>
{% endblock %}

{% block description %}{% endblock %}

{% block content %}

<div style="text-align:center; width: 80%; margin-left: 100px; margin-right: 100px">

<div>
<h1>APPLET TO LET</h1>

<applet codebase="../gallery/conceptual/plea-of-thunder/"
        code="PleaOfThunder.class"
	name="PleaOfThunder"
	width="320"
	height="240">
  <p>Your browser does not understand the <code>applet</code> tag.</p>
</applet>
<table style="font-size: 80%; margin-top: 2em; background: white; color: black; margin-left: auto; margin-right: auto;">
<tr><td>Title</td><td><b>Plea of Thunder</b></td></tr>
<tr><td>Medium</td><td>Java Applet on HTML</td></tr>
<tr><td>Year</td><td>2012</td></tr>
<tr><td>Artist</td><td><i>(see below)</i></td></tr>
</table>
</div>

</div>

<div style="margin-left: 2em; margin-right: 2em; margin-bottom: 2em;">
<h2>Terms of Use</h2>

<ol>
<li>By viewing the above work, you agree to the Terms of Use laid out
herein (don't worry, you'll like them.)</li>
<li>By viewing the above work, you agree to accept the
<em>moral rights</em> to the work, including the right to be identified
as its creator, for a period of 30 days from the date on which you viewed the
work.</li>
<li>These moral rights are shared between you and other individuals
who have viewed the work in the same 30-day period, or any overlapping
part thereof.</li>
<li>To <em>cede</em> your moral rights to the work, a payment of 1.00
USD is required.
<ul>
  <li>Payment may be made to any individual who does not, at the time, posess
moral rights to the work.</li>
  <li><em>Please send cash through the mail.</em>  For highest efficacy, <em>do
not use an envelope.</em>  Instead, affix the stamp directly to, and write
the address directly on, the dollar bill, just as you would a postcard.  This will
help ensure that your payment is received.</li>
</ul>
<li>In jurisdictions which recognize moral rights as inalienable or non-transferable,
all involved parties (including you, and the supposed original creator of the work)
agree to act as if moral rights have been transferred, even though they have not.</li>
</ol>
</div>

{% endblock %}
