{% extends "implementable.html" %}

{% block implementable_content %}

<h2>Programming Paradigms</h2>

<ul>
  {% for paradigm in paradigms %}
    <li>
        {{ link(paradigm) }}
    </li>
  {% endfor %}
</ul>

{% if related('native-language') or related('other-languages') %}
  <h2>Supported on Platforms</h2>
  <ul>
    {% for platform in related('native-language') %}
      <li>
        {{ link(platform) }}
      </li>
    {% endfor %}
    {% for platform in related('other-languages') %}
      <li>
        {{ link(platform) }}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if related('host-language') %}
  <h2>Implementations in {{ key }}</h2>
  <ul>
    {% for impl in related('host-language') %}
      <li>
        {{ link(impl) }}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if related('target-language') %}
  <h2>Compilers targeting {{ key }}</h2>
  <ul>
    {% for impl in related('target-language') %}
      <li>
        {{ link(impl) }}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock implementable_content %}
