{% extends "implementable.html" %}

{% block implementable_content %}

{% if sample_html %}
  <h2>Sample Program</h2>
  <div class="sample">{{ sample_html }}</div>
{% endif %}

{% if member_of %}
  <h2>Member of Language Family</h2>
  <p>{{ link(member_of) }}</p>
{% endif %}

{% if variant_of %}
  <h2>Variant of</h2>
  <p>{{ link(variant_of) }}</p>
{% endif %}

<h2>Programming Paradigms</h2>

<ul>
  {% for paradigm in paradigms %}
    <li>
        {{ link(paradigm) }}
    </li>
  {% endfor %}
</ul>

{% if related('native-language') or related('other-languages') %}
  <h2>Supported on Platforms</h2>
  <ul>
    {% for platform in related('native-language') %}
      <li>
        {{ link(platform) }}
      </li>
    {% endfor %}
    {% for platform in related('other-languages') %}
      <li>
        {{ link(platform) }}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if related('host-language') %}
  <h2>Things written in {{ key }}</h2>
  <ul>
    {% for impl in related('host-language')|sort %}
      <li>
        {{ link(impl) }},
        {% if 'implementation-type' in data[impl] %}
          {{ indefart(data[impl].implementation_type) }} for
        {% else %}
          an implementation of
        {% endif %}
        {{ link(data[impl].implementation_of) }}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if related('target-language') %}
  <h2>Compilers targeting {{ key }}</h2>
  <ul>
    {% for impl in related('target-language')|sort %}
      <li>
        {{ link(impl) }}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if related('variant-of') %}
  <h2>Variants</h2>
  <ul>
    {% for language in related('variant-of')|sort %}
      <li>
        {{ link(language) }}
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock implementable_content %}
