{% extends "implementable.html" %}

{% block implementable_content %}

<h2>Programming Paradigms</h2>

<ul>
  {% for paradigm in paradigms %}
    <li>
      <a href="{{ filekey(paradigm) }}">{{ paradigm }}</a>
    </li>
  {% endfor %}
</ul>

{% if related('native-language') or related('other-languages') %}
  <h2>Supported on Platforms</h2>
  <ul>
    {% for platform in related('native-language') %}
      <li>
        <a href="{{ filekey(platform) }}">{{ platform }}</a>
      </li>
    {% endfor %}
    {% for platform in related('other-languages') %}
      <li>
        <a href="{{ filekey(platform) }}">{{ platform }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if related('host-language') %}
  <h2>Implementations in {{ key }}</h2>
  <ul>
    {% for impl in related('host-language') %}
      <li>
        <a href="{{ filekey(impl) }}">{{ impl }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if related('target-language') %}
  <h2>Compilers targeting {{ key }}</h2>
  <ul>
    {% for impl in related('target-language') %}
      <li>
        <a href="{{ filekey(impl) }}">{{ impl }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock implementable_content %}
