{# bespoke template #}
{% extends "_node.html" %}

{% block content %}

<table class="table table-bordered">
  <tr>
    <th>Project</th>
    <th>Type</th>
    <th>Inception Date</th>
    <th>Development Stage</th>
    <th>Quick Links</th>
  </tr>
{%- for (key, node) in get_space().iteritems()|sort -%}
  {%- if ("What is this I don't even" in node.auspices or
          "Cat's Eye Technologies" in node.auspices) and
        node.type != 'Implementation' and
        is_current(node) and
        not node.variant_of and
        not (node.type == 'Musical Composition' and
             not related('implementation-of', key=key)) -%}
    <tr>
      <td><a href="./{{ sleek_key(key) }}">{{ key|truncate(length=28) }}</a></td>
      <td>{{ link(node.type) }}</td>
      <td>{{ node.inception_date }}</td>
      <td>{{ node.development_stage }}</td>
      <td>
        {{ online_buttons(key) }}
        {% if ref_dist(key=key) %}
          {% set dist_key = ref_dist(key=key) %}
          {% if get_node(dist_key).releases %}
            {% set latest_release = get_node(dist_key).releases|last %}
            <a class="button" href="{{ latest_release.url }}">Download</a>
          {% endif %}
        {% endif %}
      </td>
    </tr>
  {%- endif -%}
{%- endfor -%}
</table>

{% endblock content %}
