{% extends "base.html" %}

{% block extra_head %}
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
<script type="text/javascript">
  $(window).load(function() {
    $('#button').click(function() {
      $.ajax({
        url: "http://catseye.tc/lab/chrysoberyl.json",
        cache: false,
        dataType: 'json'
      }).done(function(json) {
        $('#button').html("Click me again");
        var results = "";
        $.each(json, function(key, val) {
          results += "<p>" + key + " " + val + "</p>";
        });
        $('#results').html(results);
      });
      $('#button').html("Please wait...");
      $('#results').html("");
    });
  });
</script>
<style type="text/css">
#button {
  padding: 1em;
  margin: 1em;
  border: 1px solid green;
}
</style>
{% endblock %}

{% block content %}
<button id="button">Click me</p>
<p id="results"></p>
{% endblock content %}
