{% extends "_node.html" %}

{% block content %}

{% for plat_list in entries %}
  <div class="row-fluid">
    {% for plat_key in plat_list %}
      <div class="span4">
        <h2>{{ link(plat_key) }}</h2>
        {% if get_node(plat_key).description %}
          {{ md2html(get_node(plat_key).description) }}
        {% endif %}
        <ul>
          {%- if projects[plat_key] -%}
            {%- for thing in projects[plat_key] -%}
               <li>
                 <p>{{ link(thing) }}</p>
                 {% if get_node(thing).description %}
                   {{ md2html(get_node(thing).description) }}
                 {% endif %}
               </li>
            {%- endfor -%}
          {%- else -%}
            {%- for thing in get_space().keys()|sort -%}
              {%- if 'Chris Pressey' in get_node(thing).authors and
                     is_current(get_node(thing)) -%}
                {%- set impls = impls_for_platform(plat_key, key=thing) -%}
                {%- if count(impls) -%}
                   <li>
                     <p>{{ link(thing) }}</p>
                     {% if get_node(thing).description %}
                       {{ md2html(get_node(thing).description) }}
                     {% endif %}
                   </li>
                {%- endif -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endif -%}
        </ul>
      </div>
    {% endfor %}
  </div>
{% endfor %}

{% endblock content %}
