{% extends "base.html" %}

{% block content %}

{% for plat_list in entries %}
  <div class="row-fluid">
    {% for plat_key in plat_list %}
      <div class="span4">
        <h2>{{ link(plat_key) }}</h2>
        {% if data[plat_key].description %}
          {{ md2html(data[plat_key].description) }}
        {% endif %}
        <ul>
          {% if projects[plat_key] %}
            {% for thing in projects[plat_key] %}
               <li>
                 <p>{{ link(thing) }}</p>
                 {% if data[thing].description %}
                   {{ md2html(data[thing].description) }}
                 {% endif %}
               </li>
            {% endfor %}
          {% else %}
            {% for thing in data|sort %}
              {% if 'Chris Pressey' in data[thing].authors and
                    data[thing].development_stage not in
                      ['idea', 'work in progress', 'abandoned', 'lost'] %}
                {% set impls = impls_for_platform(plat_key, key=thing) %}
                {% if impls %}
                   <li>
                     <p>{{ link(thing) }}</p>
                     {% if data[thing].description %}
                       {{ md2html(data[thing].description) }}
                     {% endif %}
                   </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
        </ul>
      </div>
    {% endfor %}
  </div>
{% endfor %}

{% endblock content %}
