{# bespoke template #}
{% extends "base.html" %}

{% block index %}

<ul>
{%- for (key, node) in get_space().iteritems()|sort -%}
  {%- if node.type in ['Tool', 'Library', 'Platform'] and
        'Chris Pressey' in node.authors and
        node.development_stage not in ['idea', 'work in progress', 'abandoned', 'lost', 'archived'] -%}
    <li>
      <p>{{ link(key) }} 
      (in
      {% for implementation in related('implementation_of', key=key) -%}
        {{ link(get_node(implementation).host_language) -}}
        {%- if not loop.last %} and {% endif -%}
      {%- endfor -%}
      )
      {{ online_buttons(key) }}</p>

      {% if node.description %}
        {{ md2html(node.description) }}
      {% endif %}

      {% if node.commentary %}
        {{ md2html(node.commentary) }}
      {% endif %}
    </li>
  {%- endif -%}
{%- endfor -%}
</ul>

{% endblock index %}
