{% extends "base.html" %}

{% block title %}{{ plural(key) }} | Cat's Eye Technologies{% endblock title %}

{% block heading %}
  <hgroup id="heading">
    <h1>{{ plural(key) }}</h1>
  </hgroup>
{% endblock %}

{% block description_verbiage %}
  {%- if description -%}
    {{- md2html(description) -}}
  {%- else -%}
    <p>
      This is a list of {{ plural(key)|lower }} with entries in {{ link('Chrysoberyl') }}.
    </p>
  {%- endif -%}
{% endblock description_verbiage %}

{# note: some types will not use the 'index' block for this; they will instead
   put their index into the 'content' block, if they want to appear below
   any images and/or exploit maximum horizontal real estate. #}
{% block index %}
  <ul>
    {%- for thing in related('type')|sort -%}
      <li>
        {%- if not get_node(key).suppress_page_generation -%}
          {{- link(thing) -}}
          {%- if online_buttons(thing) -%}
            <p>{{ online_buttons(thing) }}</p>
          {%- endif -%}
        {%- else -%}
          {{- thing -}}
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
{% endblock index %}
