{% extends "base.html" %}

{% block heading %}
  <hgroup id="heading">
    <h1>{{ key }}s</h1>
  </hgroup>
{% endblock %}

{% block description %}
  <section id="description">
    <h2>Description</h2>
    <p>
      This is a list of all {{ key|lower }}s with entries in {{ link('Chrysoberyl') }}.
      {% if our_stuff %}
        For a list of just those {{ key|lower }}s produced by
        {{ link("Cat's Eye Technologies") }}, see
        <a href="{{ filekey(our_stuff) }}">{{ our_stuff }}</a>.
      {% endif %}
    </p>
    {% if description %}
      <p>{{ description_html }}</p>
    {% endif %}
  </section>
{% endblock description %}

{% block content %}

<ul>
{%- for thing in data.keys()|sort -%}
  {%- if data[thing].type == key -%}
    <li>
      {{ link(thing) }}
    </li>
  {%- endif -%}
{%- endfor -%}
</ul>

{% endblock content %}
