{% extends "base.html" %}

{% macro list_item(thing) -%}
   {%- if not get_node(get_node(thing).type).suppress_page_generation -%}
     {{- link(thing) -}}
     {%- if online_buttons(thing) -%}
       <p>{{ online_buttons(thing) }}</p>
     {%- endif -%}
   {%- else -%}
     {{- thing -}}
   {%- endif -%}
{%- endmacro %}

{% block title %}{{ plural(key) }} | Cat's Eye Technologies{% endblock title %}

{% block heading %}
  <h1>{{ plural(key) }}</h1>
{% endblock %}

{% block description_verbiage %}
  {%- if description -%}
    {{- md2html(description) -}}
  {%- else -%}
    <p>
      This is a list of {{ plural(key)|lower }} with entries in {{ link('Chrysoberyl') }}.
    </p>
  {%- endif -%}
{% endblock description_verbiage %}

{# note: some types will not use the 'index' block for this; they will instead
   put their index into the 'content' block, if they want to appear below
   any images and/or exploit maximum horizontal real estate. #}
{% block index %}
  {% if expected_auspices %}
    <div class="row-fluid">
      <div class="span6">
        <h3>by {{ expected_auspices[0] }}</h3>
        <ul>
          {%- for thing in related('type')|sort -%}
            {% if (expected_auspices[0] in get_node(thing).auspices) and
                   online_buttons(thing) %}
              <li>{{ list_item(thing) }}</li>
            {% endif %}
          {%- endfor -%}
        </ul>
        <ul>
          {%- for thing in related('type')|sort -%}
            {% if (expected_auspices[0] in get_node(thing).auspices) and
                   not online_buttons(thing) %}
              <li>{{ list_item(thing) }}</li>
            {% endif %}
          {%- endfor -%}
        </ul>
      </div>
      <div class="span6">
        <h3>by Our Valued Partners</h3>
        <ul>
          {%- for thing in related('type')|sort -%}
            {% if (not get_node(thing).auspices) and
                   online_buttons(thing) %}
              <li>{{ list_item(thing) }}</li>
            {% endif %}
          {%- endfor -%}
        </ul>    
        <ul>
          {%- for thing in related('type')|sort -%}
            {% if (not get_node(thing).auspices) and
                   not online_buttons(thing) %}
              <li>{{ list_item(thing) }}</li>
            {% endif %}
          {%- endfor -%}
        </ul>
      </div>
    </div>
  {% else %}{# ----- plain ol' non-auspicacial list of things of this type ---#}
    <ul>
      {%- for thing in related('type')|sort -%}
        <li>{{ list_item(thing) }}</li>
      {%- endfor -%}
    </ul>
  {% endif %}
{% endblock index %}
