{% extends "type.html" %}

{% set very_special = [
     'Laws of Form', 'Gödel, Escher, Bach', 'A New Kind of Science'
   ]
%}

{% block index %}
  {% for thing in related('type')|sort -%}
    {% if thing not in very_special %}
      <h3>
        {% if not get_node(key).suppress_page_generation %}
          {{ link(thing) }}
        {% else %}
          {{ thing }}
        {% endif %}
      </h3>
      <p>
          By {{ linked_list(get_node(thing).authors) }}
          {%- if get_node(thing).auspices -%}
            , {{ linked_list(get_node(thing).auspices) }}
          {%- endif -%}
          {%- if get_node(thing).inception_date -%}
            , {{ get_node(thing).inception_date }}
          {%- endif -%}
          {%- if get_node(thing).isbn -%}
          , ISBN: <a href="http://esolangs.org/wiki/Special:BookSources/{{ get_node(thing).isbn }}">{{ get_node(thing).isbn }}</a>
          {% endif %}
      </p>
      {% if get_node(thing).commentary %}
        {{ md2html(get_node(thing).commentary) }}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% for thing in very_special -%}
    <h3>
      {% if not get_node(key).suppress_page_generation %}
        {{ link(thing) }}
      {% else %}
        {{ thing }}
      {% endif %}
    </h3>
    <p>
        By {{ linked_list(get_node(thing).authors) }}
        {%- if get_node(thing).auspices -%}
          , {{ linked_list(get_node(thing).auspices) }}
        {%- endif -%}
        {%- if get_node(thing).inception_date -%}
          , {{ get_node(thing).inception_date }}
        {%- endif -%}
        {%- if get_node(thing).isbn -%}
        , ISBN: <a href="http://esolangs.org/wiki/Special:BookSources/{{ get_node(thing).isbn }}">{{ get_node(thing).isbn }}</a>
        {% endif %}
    </p>
    {% if get_node(thing).commentary %}
      {{ md2html(get_node(thing).commentary) }}
    {% endif %}
  {% endfor %}
{% endblock index %}
