{% extends "type.html" %}

{% block extra_head %}
  <meta name="description" content="An online gallery of interactive exhibits at Cat's Eye Technologies.">
{% endblock extra_head %}

{% block description %}
  {{ md2html(description) }}
{% endblock %}

{% block content %}

{% for thing in related('type')|sort -%}
  <h3>{{ link(thing) }}</h3>
  <p><i>{{ data[thing].medium }}</i> in the <i>{{ data[thing].exhibit }}</i></p>
  {% if data[thing].description %}
    {{ md2html(data[thing].description) }}
  {% endif %}
  {% if data[thing].commentary %}
    {{ md2html(data[thing].commentary) }}
  {% endif %}
{% endfor %}

{% endblock content %}
