{% extends "type.html" %}

{% block index %}{% endblock %}
{% block content %}

<table class="table table-bordered">
  <tr>
    <th>Programming Language</th>
    <th>Cat's Eye Technologies'</th>
    <th>Genre</th>
    <th>Development Stage</th>
    <th>Implementations of it</th>
    <th>Things Implemented in it</th>
    <th>Compilers to it</th>
    <th>Online</th>
    <th>Distribution</th>
  </tr>

  {%- for thing in related('type')|sort -%}
    {%- if thing not in [] -%}
      {%- if not is_current(get_node(thing)) -%}
        <tr style="background: #c0c0c0">
      {%- else -%}
        <tr>
      {%- endif -%}
        <td>{{ link(thing) }}</td>
        <td>{% if "Cat's Eye Technologies" in get_node(thing).auspices %}yes{% endif %}</td>
        <td>{{ link(get_node(thing).genre) }}</td>
        <td>{{ get_node(thing).development_stage }}</td>
        <td>{% for impl in related('implementation-of', key=thing)|sort %}
              {{ link(impl, link_text='X', title=impl) }}
            {% endfor %}</td>
        <td>{% for impl in related('host-language', key=thing)|sort %}
              {{ link(impl, link_text='X', title=impl) }}
            {% endfor %}</td>
        <td>{% for impl in related('target-language', key=thing)|sort %}
              {{ link(impl, link_text='X', title=impl) }}
            {% endfor %}</td>
        <td>
          {{- online_buttons(thing, show_verb_phrase=False) -}}
        </td>
        <td>
          {%- if ref_dist(key=thing) -%}
            {%- set dist_key = ref_dist(key=thing) -%}
            {%- if get_node(dist_key).releases -%}
              {%- set latest_release = get_node(dist_key).releases|last -%}
              <a class="button" href="{{ latest_release.url }}">Download</a>
            {%- endif -%}
          {%- endif -%}
        </td>
      </tr>
    {%- endif -%}
  {%- endfor -%}
</table>

{% endblock content %}
