{# bespoke template #}
{% extends "base.html" %}

{% block content %}

<ul>
{%- for (key, node) in get_space().iteritems()|sort -%}
  {%- if node.type == 'Musical Composition' and
        "What is this I don't even" in node.auspices and
        is_current(node) -%}
    <li> {# and related('implementation-of', key=key) #}
      <p>
        <strong>{{ link(key) }}</strong>
        (<i>{{ link(node.genre, lower=true) }},
         {{ link(node.composed_on) }},
         {{ node.inception_date }}</i>)
        —
        {{ online_buttons(key) }}
      </p>
      {% if node.description %}
        {{ md2html(node.description) }}
      {% endif %}
      {% if node.commentary %}
        {{ md2html(node.commentary) }}
      {% endif %}
    </li>
  {%- endif -%}
{%- endfor -%}
</ul>

{# yarrrgh not worth it

<h3>Arrangements</h3>

<ul>
{%- for (impl, node) in get_space().iteritems()|sort -%}
  {%- if node.type == 'Implementation' and
         node.host_language == 'mp3' and 'file-locations' in node and
         "What is this I don't even" in node.auspices and
         "What is this I don't even" not in get_node(node.implementation_of[0]).auspices and
         node.development_stage not in ['idea', 'work in progress', 'abandoned', 'unfinished', 'lost'] -%}
    <li>
      {% set thing = node.implementation_of[0] %}
      <p>
        {{ link(thing) }}
        (<i>{{ link(data[thing].genre, lower=true) }}
         {%- if data[thing].composed_on and data[thing].inception_date -%},
           {{ link(data[thing].composed_on) }},
           {{ data[thing].inception_date }}
         {%- endif %}</i>)
        —
        {% if data[impl].host_language == 'mp3' and 'file-locations' in data[impl] %}
          <a class="button" href="{{ data[impl].file_locations[0] }}">Listen (MP3)</a>
        {% endif %}
      </p>
      {% if data[impl].description %}
        {{ md2html(data[impl].description) }}
      {% endif %}
      {% if data[impl].commentary %}
        {{ md2html(data[impl].commentary) }}
      {% endif %}
    </li>
  {%- endif -%}
{%- endfor -%}
</ul>

#}

{% endblock content %}
